---
cover: ../.gitbook/assets/bakerynft.png
coverY: 0
---

# 🤺 Guild Bot Verification

Most (or all) problems can be solved by revisiting [the Discord](https://discord.gg/bakerydao) and attempting to restart the process with Guild Bot by typing "/join" in the appropriate channels.

If this doesn't work, feel free to reach out to the admins and we'll be happy to resolve the errors quickly!
