---
cover: ../.gitbook/assets/bakerynft.png
coverY: 0
---

# 🤺 Swordy bot verification

Most (or all) problems can be solved by revisiting [the Discord](https://discord.gg/bakerydao) and attempting to restart the process with Swordy Bot by typing "!unlock" in the appropriate channels.

If this doesn't work, feel free to reach out to the admins and we'll be happy to resolve the errors quickly!
